<form (ngSubmit)="onLogin()" #loginForm="ngForm">
  <div class="labelUser">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required />
  </div>
  <div class="labelPass">
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required />
  </div>
  <div class="buttonLog">
    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
  </div>
</form>
