* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #002c66;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between; /* Mantém logo e formulário em lados opostos */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 80px; /* Define o espaçamento da borda esquerda e direita */
}

.logo img {
  width: 300px; 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  background-color: #FDC600;
  color: #0B3A67;
  border: none;
  border-radius: 25px;
  padding: 15px;
  width: 250px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

button {
  background-color: #FDC600;
  color: #0B3A67;
  border: none;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: #E5B000;
}
