<div class="issue-home">

  <div class="sidebar">
    <!-- Sidebar for creating new issues -->
    <div class="sidebar-text-box">
      <!-- Campo de entrada para o ID da issue (somente leitura) -->
      <label for="issue-id">ID:</label>
      <input id="issue-id" type="text" [value]="newIssue.id" readonly />
      <!-- Campo de entrada para o título da issue -->
      <label for="issue-title">Título:</label>
      <input id="issue-title" type="text" [(ngModel)]="newIssue.title" />
      <!-- Campo de entrada para a descrição da issue -->
      <label for="issue-description">Descrição:</label>
      <textarea id="issue-description" [(ngModel)]="newIssue.description"></textarea>
      <!-- Botão para adicionar a nova issue -->
      <button (click)="addNewIssue()">Adicionar Issue</button>
    </div>

    <!-- Logo section -->
    <div class="logo-container">
      <a [routerLink]="['/main-panel']">
        <img src="assets/file.png" alt="Logo ARQ" />
      </a>
    </div>
  </div>

  <!-- Issues container -->
  <div class="issue-container">
    <!-- Issues header section -->
    <div class="issue-container-header">
      <!-- Button to toggle between open and closed issues -->
      <button (click)="toggleStatus()">
        {{ currentStatus === 'open' ? 'Abertas' : 'Fechadas' }}
      </button>
    </div>

    <!-- Sub-header for issue details -->
    <div class="issue-sub-header">
      <h4>ID</h4>
      <h4>Título</h4>
      <h4>Descrição</h4>
      <h4>Criada em</h4>
      <h4>Criada por</h4>
    </div>

    <!-- Issues list section -->
    <div class="issues-list">
      <!-- Loop para exibir issues filtradas -->
      <div *ngFor="let issue of filteredIssues" class="issue-item">
        <span>{{ issue.id }}</span>
        <span>{{ issue.title }}</span>
        <span>{{ issue.description }}</span>
        <span>{{ issue.createdAt }}</span>
        <span>{{ issue.assignee}}</span>
        <!-- Botões para fechar ou reabrir a issue -->
        <button *ngIf="issue.status === 'open'" (click)="closeIssue(issue.id)">Fechar Issue</button>
        <button *ngIf="issue.status === 'closed'" (click)="reopenIssue(issue.id)">Reabrir Issue</button>
      </div>
    </div>
  </div>
</div>