<!-- Formulário para adicionar nova issue -->
<div class="issueForm">
    <h2>Adicionar nova Issue</h2>
    <label for="title">Título:</label>
    <input id="title" [(ngModel)]="newIssue.title" placeholder="Título da issue" />
  
    <label for="description">Descrição:</label>
    <input id="description" [(ngModel)]="newIssue.description" placeholder="Descrição da issue" />
  
    <!-- Botão Adicionar Issue, desabilitado se título ou descrição estiverem vazios -->
    <button (click)="addNewIssue()" [disabled]="!newIssue.title || !newIssue.description">Adicionar Issue</button>
  </div>
  
  <!-- Lista de Issues -->


  <ul>
    <li *ngFor="let issue of issues">
      <h3>{{ issue.title }}</h3>
      <p>{{ issue.description }}</p>
      <p>Status: {{ issue.status }}</p>
      
      <!-- Fechar Issue, se o status for closed-->
      <button (click)="closeIssue(issue.id)" [disabled]="issue.status === 'closed'">Fechar Issue</button>
    </li>
  </ul>
  
  <!-- Botão para Visão Geral -->
  <div>
    <button (click)="pageOverview()">Visão Geral</button>
  </div>
  