.overview-container {
    display: flex;
    height: 100vh;
    background-color: #002a5d;
  }
  
  .issues-section {
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    color: #002a5d;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
  }


  .issues-section ul, 
.storage-section ul {
  list-style-type: none; /* remove the bullet point */
  padding-left: 0; /* removes the left indentation */
}

  .storage-section {
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    color: #002a5d;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
  }
  .sidebar {
    width: 20%;
    background-color: #002a5d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .sidebar-button {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ffc700;
    border: none;
    border-radius: 20px;
    color: #002a5d;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
  }
  
  .content {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 0px 10px #002a5d(0, 0, 0, 0.1);
  }
  
  .logo-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-800%);
    text-align: left;
  }
  
  .logo-container img {
    width: 100px;
    height: auto;
  }
  
  