<div class="overview-container">
  <!-- Sidebar com Visão Geral -->
  <div class="sidebar">
    <div class="sidebar-button">Visão Geral</div>
  </div>

  <!-- Conteúdo principal -->
  <div class="content">
    <!-- Seção de Issues -->
    <div class="issues-section">
      <div class="issue-header">
          <h2>Issues</h2>
      </div>
      <ul>
        <li *ngFor="let issue of issueList">
          <strong>Título:</strong> {{ issue.title }} <br>
          <strong>Status:</strong> {{ issue.status }} <br>
          <strong>Criado em:</strong> {{ issue.createdAt | date: 'short' }}
          <hr>
        </li>
      </ul>
    </div>

    <!-- Seção de Estoque -->
    <div class="storage-section">
      <div class="storage-header">
        <h2>Estoque</h2>
      </div>
      <ul>
        <!-- Percorre os nomes de estoque e exibe o nome e a contagem -->
        <li *ngFor="let name of getStorageNames()">
          <strong>{{ name }}</strong>: {{ storageCount[name] }} un <br>
        </li>
      </ul>
    </div>
  </div>

  <!-- logotipo -->
  <div class="logo-container">
    <a [routerLink]="['/main-panel']">
      <img src="assets/file.png" alt="Logo ARQ" />
    </a>
  </div>
</div>
