.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    gap: 20px; 
}


button {
    padding: 15px 30px; 
    font-size: 18px; 
    background-color: #e7c320; 
    color: rgb(1, 2, 41); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: transform 0.2s ease, background-color 0.3s ease;
}


button:hover {
    background-color: #cec440; 
    transform: scale(1.05); 
}


button:active {
    transform: scale(0.95); 
}
