.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #002a5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  bottom: 20px;
  width: 150px; /* Tamanho maior da logo */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espaço entre os botões */
}

.button {
  background-color: #fbc02d;
  color: #002a5d;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  width: 240px; /* Mesmo tamanho para todos os botões */
  text-align: center;
}

.button:hover {
  opacity: 0.9;
}
